* {
  color: white;
  font-family: "OptimusPrinceps";
}

.flex-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
}

/* icons */

.prespic {
  width: 55px;
}

.allicons {
  width: 55px;
  margin-top: 790px;
  cursor: pointer;
}

.flexicons {
  display: flex;
  justify-content: space-between;
  padding-left: 550px;
  padding-right: 550px;
}

.param {
  margin-top: 0;
}

/* modal */

.modal-header {
  cursor: move;
}

/* about me */
.prespic {
  width: 25%;
  vertical-align: top;
  border-radius: 5px;
}

/* contact  */

.portcontact {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.contacticons {
  width: 50px;
  height: 50px;
}

/* modal rev */

.buttonmodal {
  display: block;
  padding: 10px 30px;
  border-radius: 20px;
  color: #fff;
  font-family: "OptimusPrinceps";
  border: none;
  background: #130a01;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease all;
}

.buttonmodal:hover {
  background: #fc7e00;
}
