@font-face {
  font-family: "OptimusPrinceps";
  src: local("OptimusPrinceps"),
    url("./fonts/OptimusPrinceps.ttf") format("truetype");
  font-weight: bold;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
}

/* first layer  */
.titles {
  margin-top: 175px;
  font-size: 45px;
}

.subtitles {
  font-size: 36px;
}
.dec-bon {
  margin-top: 40px;
  margin-bottom: 25px;
}

.decorigin {
  display: flex;
  justify-content: center;
  text-align: left;
}

.dec-chart {
  border: 1px solid #fc7e00;
  padding: 25px;
  width: 30em;
  font-size: 26px;
}

.overtitles {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.App {
  display: block;
  margin: 0;
  background-color: black;
  text-align: center;
  align-items: center;
}

.suggest {
  margin-right: 180px;
}

.font-darksus {
  color: white;
  margin-top: 115px;
  font-family: "OptimusPrinceps";
}

/* second layer */

.wer-img {
  margin-top: 30px;
  width: 435px;
}

.wer-hp {
  font-size: 20px;
}

/* third layer */

/* buttons  */

a {
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
  font-family: "OptimusPrinceps";
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.darkbutton {
  width: 450px;
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: #000000;
  border-radius: 2px;
  border: 1px solid #fc7e00;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 23px;
  padding: 25px;
  text-decoration: none;
  font-family: "OptimusPrinceps";
}
.darkbutton:hover {
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: #000000;
}

/* media queries */

@media (max-width: 550px) {
  .darkbutton {
    width: 320px;
  }
  .suggest {
    font-size: 15px;
    margin-right: 0px;
    margin-left: 55px;
    text-align: left;
  }
  .titles {
    margin-top: 25px;
  }

  .font-darksus {
    margin-top: 15px;
  }

  .dec-chart {
    margin-left: 50px;
    margin-right: 50px;
  }

  .wer-img {
    width: 350px;
  }
}
